# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3

print(numberFloat)

numberFloat = 2.5

print(numberFloat)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

# Short-hand version
result += 1
print(result)

7.4
8.4

##### Subtraction

In [11]:
result_diff = 5 - 2
print(result_diff)

# Shorthand version
result_diff -= 2
print(result_diff)

3
1

##### Multiplication

In [8]:
result_mul = num1 * num2
print(result_mul)

# shorthand
result_mul*=3
print(result_mul)

10.8

##### Division

In [9]:
result_div = num2/num1
print(result_div)

# shorthand
result_div /= 2
print(result_div)

2.7

##### Floor Division

In [12]:
result_floor = num2 // num1
print(result_floor)

# shorthand
result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [16]:
result_mod = 100 % 30
print(result_mod)

#shorthand
result_mod %= 2
print(result_mod)

10
0

##### Exponential

In [18]:
square = 5 ** 2
print(square)

# Shorthand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [19]:
name = 'jenni'
print(name)

jenni

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print("This is my first name: ", name)

print("Full name: ", name, end= " griffin")

This is my first name:  jenni
Full name:  jenni griffin

##### String Concatenation

In [28]:
first_name = 'john'
last_name = 'smith'

full_name = first_name + " " + last_name
print(full_name)

#shorthand
full_name += ' jr'
print(full_name)

john smith
john smith jr

##### Type Conversion

In [31]:
number = '32'
change_type_num = int(number)
change_type_num += 5

print(change_type_num)

37

##### input()

In [35]:
# Input() will ALWAYS return a string!!! ALL THE TIME

# name = input("What is your name? ")
# print(name)

age = int(input("How old are you? "))
new_age = age + 1
print(new_age)

How old are you? 34
35

##### format()

In [40]:
age = 88
new_age = str(age)
name = "Shaun"

result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
print(result_string)

result_again = f"{age + 1} is a great time in life!"
print(result_again)

You are Shaun, you are 88 years old and you are getting wiser!
89 is a great time in life!

##### Old Way (python 2)

In [41]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 88 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [46]:
color = 'red'
year = '2019'
make = 'toyota'
model = 'corolla'

car_info = "You drive a {}, {}, {} {}.".format(year, color, make, model)
print(car_info)

car_info2 = f"I love my {color}, {year}, {make} {model}!"
print(car_info2)

You drive a 2019, red, toyota corolla.
I love my red, 2019, toyota corolla!

### If Statements

In [53]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# if (thing that is true or false) is true:
    # do this stuff
# this part will happen anyways

num1 = 5
num2 = 5

if num1 == num2:
    print("Equal values")
else:
    print("Not equal")
    
if num2 > num1:
    print("Num2 is greater than")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They are the same")

Equal values
They are the same

##### 'is' keyword

In [55]:
# use 'is' when checking for same or similar object, NOT the same value

num3 = 55
num4 = num3

if num3 is num4:
    print("This is the same type or similar object")

This is the same type or similar object

##### 'in' keyword

In [56]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT HERE")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [61]:
user_name = input("Can you name a fruit? ")

if 'p' in user_name:
    print("Great!")
    
if 'p' not in user_name:
    print("That's not the answer we're looking for.")

Can you name a fruit? kiwi
That's not the answer we're looking for.

## Using 'and'/'or' with If Statements

In [66]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

first_name = 'Max'
age = 11

if first_name == 'Max' and age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" or age == 10:
    print("I am either Max or I am 10")

I am either Max or I am 10

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [74]:
# for item in iterable_iterable thing:
    # do some stuff

name = "Jenni Griffin"

# print(len(name))

for letter in range(len(name)):
    print(letter)

0
1
2
3
4
5
6
7
8
9
10
11
12

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [73]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [75]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

# I will come back and finish this part of my code later

##### Double For Loops

In [79]:
total = 0

for i in range(5):
    for j in range(5):
        total += 1
        print(total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

### While Loops

In [85]:
# while condition statement (something that is true or false):
    # do some stuff repeatedly

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [88]:
game_running = True
score = 0

while game_running:
    user_input = input("Say some stuff ")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print(f"Score:{score}")

Say some stuff some stuff
some stuff
Score:1
Say some stuff some stuff
some stuff
Score:2
Say some stuff some stuff
some stuff
Score:3
Say some stuff some stuff
some stuff
Score:4
Say some stuff quit
quit
Score:5

##### While & For Loops Used Together

In [90]:
num = 0

while num <= 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 5
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [93]:
# range(start, stop, step)
# defaults: start = 0, stop IS REQUired, step = 1

for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

##### len()

In [94]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [96]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### isinstance()

In [99]:
print(isinstance(4.5,int))
if isinstance(4.5, float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [100]:
# |5|

print(abs(-5))

5

### Try and Except

In [102]:
# Use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use this to log out graceful and informative error messages

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR: Please change your input to a number")

Guess a number five
That did not work - ERROR: Please change your input to a number

### Lists

##### Declaring Lists

In [104]:
my_list = [] #empty list

names = ['Max', 'Cindy', 'Kathy', 5, 'Nate']

print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [115]:
# Syntax: list_name[start:stop:step]

# single index
print(names[2])

# print the last value NO MATTER THE SIZE of the list!
print(names[-1])

# print startig at 1 going to the end
print(names[1:])

# print starting at the beginning until whatever index we give it
print(names[:3])

# print from one index to another
print(names[2:4])

# print starting at index one going up by 2 for each iteration
print(names[1::2])

# print starting at the end and going down by 1 each time
print(names[::-1])

Kathy
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [116]:
names.append('bob')
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate', 'bob']

##### .insert()

In [118]:
names.insert(3, 'Gabby')
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'Gabby', 5, 'Nate', 'bob']

##### .pop()

In [119]:
# default is the last value if no parameter is given
# pop returns the element that was removed in ase you want to assign it into a variable

my_name = names.pop(3)
print(my_name)
print(names)

Gabby
['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'bob']


##### .remove()

In [122]:
# value to be removed, not the index

#names.remove('bob')
#print(names)

#remove multiples from list
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate']

##### del()

In [123]:
# Be careful, it can cause indexing errors if used improperly
# remove by index

del(names[1])
print(names)

['Max', 'Kathy', 'Gabby', 5, 'Nate']

##### Concatenating Two Lists

In [124]:
first_list = [0,1,2]
second_list = [3, 4, 5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [126]:
names = ["Max", "Sam", "Josh",['sally', 'sue', 'tameka']]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['sally', 'sue', 'tameka']]
sue

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# with a for loop using the index
for i in range(len(names)):
    print(names[i])

# loop with a for loop and in
for name in names:
    print(name)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
i = 0

while i < 20:
	if i**3 <=1000:
		print(i**3)
	else:
		break
	i += 1

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# State range numbers
num_1 = 0
num_2 = 100


for num in range(num_1,num_2):
    #Prime numbers are greater than 1
    if num > 1:
        #If the number is greater than 1 & divisible
        #by another number, it is not prime. Do not print.
        for i in range(2,num):
            if(num%i) == 0:
                break
        else:
            print(num)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = input("How old are you?")

In [ ]:
if age < 18:
    print("kids")
elif age < 65:
    print("adults")
else:
    print("seniors")